{{define "front"}}
    <p>What are the main takeways from the {{.Topic}} book, <b>{{.Title}}</b>?</p>
    <img  class="card_image" src="/decks/{{.Set}}/image/{{.Image}}" />
{{end}}

{{define "back"}}
    <p>{{.Desc}}</p>
{{end}}
