#columns{
    display: table;
    width: 100%;
}

div {
    border:1px solid black;
}

.col1{
    display: table-cell;
    width: 65%;
    padding: 1em;
    position: relative;
    left: auto;
    background-color:black;
    color:white;
}

.col2{
    width: 35%;
    display: table-cell;
    padding: 1em;
    position: relative;
}

/* my stuff starts here*/
.stage {
  -webkit-perspective: 1000;
}

.flashcard {
  height: 300px;
  width: 500px;
  margin: 10% auto;
  border: 1px solid gray;
  box-shadow: 2px 2px 2px #000;
  -webkit-transform-style: preserve-3d;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
}

.flipped, .back {
  transform: rotateX(180deg);
  -webkit-transform: rotateX(180deg);
}

.front, .back {
  height: 300px;
  width: 500px;
  position: absolute;
  text-align: center;
  -webkit-backface-visibility: hidden;
}

.front p {
  /*margin-top: 25%;*/
  font-size: 3em;
}

.back p {
  font-size: 2em;
}

b {
    color: blue;
}

/*
button {
    display:block; /* change this from inline-block */
    width:20%; /* setting the width */
    margin:0 auto; /* this will center  it */
    position:relative;
    font-style:normal;
    font-weight:normal;
    font-family:"Open Sans";
    font-size:14px;
    outline:none;
    color:#fff;
    border:none;
    text-decoration:none;
    text-align:center;
    cursor:pointer;
    -webkit-border-radius:2px;
    -moz-border-radius:2px;
    border-radius:2px;
    background-color:#96aa39;
    border-bottom:1px solid #7b8b2f;
}
*/
