{{define "front"}}
    <p>What {{.Comp}} {{.Desc}}?</p>
{{end}}

{{define "back"}}
    <p><b>{{.Word}}</b></p>
    <img src="/decks/{{.Set}}/image/{{.Image}}" height="150" width="150" />
    {{with .Hint}}<p>({{.}})</p>{{end}}
{{end}}
