{{define "front"}}
    <p>What {{.Comp}} {{.Desc}}?</p>
{{end}}

{{define "back"}}
    <p><b>{{.Word}}</b></p>
    <img class="card_image" src="/decks/{{.Set}}/image/{{.Image}}" />
    {{with .Hint}}<p>({{.}})</p>{{end}}
{{end}}
