{{define "front"}}
    <p>What does the {{.Comp}} <b>{{.Word}}</b> do?</p>
{{end}}

{{define "back"}}
    <p><b>{{.Word}}</b> {{.Desc}}</p>
    <img  class="card_image" src="/decks/{{.Set}}/image/{{.Image}}" />
    {{with .Hint}}<p>({{.}})</p>{{end}}
{{end}}
